*{
    font-family: 'Trispace', sans-serif;

}
body{
    background-color: slateblue;
}
h1{
    text-align: center;
}

#horaTrabajada{
    margin: 40px 100px 10px;
}
label, p{
    margin: 40px 100px 10px;
    font-size: 25px;
}
#pago{
    opacity: 0;    
    display: inline-block;
    padding: 10px 50px;
}
.contenedor{
    position: absolute;
}
input[type='submit']{
    width: 100px;
    height: 30px;
}
input[type='text']{
    height: 23px;
}